@import '../../variables';
@import '../../mixins';

.zip-header {
  text-align: center;
  margin: 32px 0 24px;
}

.zip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input {
  border: 3px solid lighten($gray-black, 40%);
  border-radius: 5px;
  font-size: 16px;
  height: 25px;
  padding-left: 4px;

  &::placeholder {
    color: lighten($gray-black, 40%);
  }

  &:invalid {
    border-color: $theme-red;

    & ~ span {
      display: block;
    }
  }

  &:valid {
    & ~ span {
      display: none;
    }
  }

  &:focus {
    border-color: $theme-blue;
    caret-color: $theme-blue;

    & ~ span.error-indicator {
      display: none;
    }
  }
}

.error-indicator {
  color: lighten($theme-red, 5%);
  margin: 16px auto 0;
  text-align: center;

  &.hidden {
    display: none;
  }
}

.submit {
  @include button-focus-styles($theme-blue);

  background-color: $theme-blue;
  border-radius: 24px;
  color: $theme-off-white;
  font-size: 1.2em;
  height: 36px;
  margin-left: 16px;
  width: 148px;

  &:active {
    background-color: #64cbdb;
  }
}
