@import 'variables'; // Need to override the default theme colors
@import '../node_modules/@material/theme/mdc-theme';

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: $mdc-theme-background;
  color: $gray-black;
  padding: 0;
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  -moz-appearance: none;
  -ms-progress-appearance: none;
  -webkit-appearance: none;
}
