// Colors
$gray-black: #515151;
$theme-red: #ea4830;
$theme-blue: #62c5d5;
$theme-off-white: #fdfdfd;

// Override Material Design Colors
$mdc-theme-primary: $theme-blue;
$mdc-theme-secondary: $theme-red;
$mdc-theme-background: $theme-off-white;
